#pins.transitions-enabled
	- @pins.each do |pin|
		.box.panel.panel-default
			= link_to (image_tag pin.image.url(:medium)), pin_path(pin)
			.panel-body
				%h2= link_to pin.title, pin_path(pin)
				= pin.description
				%p.user
				Submitted by
				= pin.user.email
				= link_to "Edit", edit_pin_path(pin), class: "btn btn-primary"
				= link_to "Delete", pin_path(pin), :method => :delete, data: {confirm: "are you sure"}, class: "btn btn-danger"
				%br/
				%br/
	= link_to "New Pin", new_pin_path, :class => "btn btn-primary"	


	<div class="span12" style="margin-left: 50px; margin-top: -30px; margin-bottom: 30px">    

	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<div style="overflow:hidden;height:400px;width:1200px;">
	<div id="gmap_canvas" style="height:400px;width:1200px;"></div>
	<style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
	<a class="google-map-code" href="http://wordpress-hosting.me" id="get-map-data">wordpress-hosting.me
	</a></div>
	<script type="text/javascript"> function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(12.9048229,77.63002749999998),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(12.9048229, 77.63002749999998)});infowindow = new google.maps.InfoWindow({content:"<b>Media Cloud Services, Neeraj Choudhary, +91 9480018881, Mediacloudservices@gmail.com</b><br/>270/2/21, 2ND FLOOR, SRI M V ROAD, NEAR BHANU NURSING HOME,  BOMMANAHALLI, HOSUR MAIN ROAD<br/>560068 Bangalore" });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
</div> 
</div>